html,
body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  color: #f5f6f7;
  height: 100%;
  overflow: hidden;
}

body {
  background: url(resources/sunset-run.png) no-repeat center center fixed;
  background-size: cover;
  overflow-y: scroll;
}


  label, textarea {
    display: block;
    margin: 0.5rem 0;
  }
  
  input, textarea {
    width: 100%;
  }
  
  .inline {
    width: unset;
  }

  .center-text {
    text-align: center;
  }
  
#title {
    margin-top: 2rem;
    font-size: 32px;
}

#description {
    max-width: 500px;
    text-align: center;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

  h1, p {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }

  .form-container {
    max-width: 600px;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(15, 1, 54, 0.8);
    border-radius: 10px;
  }


  fieldset {
    border: none;
    padding: 1rem 0;
  }

  fieldset p {
    text-align: left;
  }

  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #f07f22;
    color:#f5f6f7;
    border-color: white;
    border-radius: 10px;
    min-width: 300px;
  }

  input[type="submit"]:hover {
    cursor: pointer;
  }
